.header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 86.375rem;
  margin: 0 auto;
}

.menu-section {
  display: flex;
  align-items: center;
  width: 100%;
}

.layout-content {
  min-height: calc(100vh - 12.5rem);
}
